﻿@model List <WaldemarBednarczykZadLab5.Models.Order>

@{
    ViewBag.Title = "Zamówienia";
}

<h2>Index</h2>

@foreach(var orders in Model)
{
    @orders.Restaurant <br>
    @orders.Food <br>
    @orders.Drink <br>
}
