﻿@model List<WaldemarBednarczykZadLab5.Models.Order>

@{
    ViewBag.Title = "Zamówienia";
}

<h2>Zamówienia</h2>

<div class="container">
    <div class="row">
        @foreach (var order in Model)
        {
            <div vlass="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@order.Restaurant</h3>
                    </div>
                    <div class="panel-body" style="word-wrap: break-word;">
                        <p> @order.Food</p>
                        <p> @order.Drink</p>
                        @Html.ActionLink("Zmień zamówienie", "Edit", new { id = order.Id }, new { @class = "btn btn-primary pull-right" })
                        @using (Html.BeginForm("Delete", "Orders", FormMethod.Post))
                        {
                            @Html.Hidden("id", order.Id)
                            <button type="submit" class="btn btn-danger">Usuń zamównienie</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>