﻿@model WaldemarBednarczykZadLab5.Models.Order

@{
    ViewBag.Title = "Złóż zamówienie";
}

<h2>NewOrder</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Restauracja")
        @Html.TextBoxFor(m => m.Restaurant, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Co do jedzenia?")
        @Html.TextAreaFor(m => m.Food, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Co do picia?")
        @Html.TextBoxFor(m => m.Drink, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Dodaj</button>
}