﻿@model DawidKobierskiLab5.Models.Comment

@{
    ViewBag.Title = "Komentarz";
}

<h2>Dodaj Komentarz</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Twój nick")
        @Html.TextBoxFor(m => m.Author.Username, new { @class = "form-control" })
        @Html.Label("Komentarz")
        @Html.TextBoxFor(m => m.Content, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Dodaj Komentarz</button>
}