﻿@model List<DawidKobierskiLab5.Models.Post>
@{
    ViewBag.Title = "Posty";
}

<h2>Posty</h2>

<div class="container">
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@post.Title</h3>
                    </div>
                    <div class="panel-body" style="word-wrap: break-word;">
                        @post.Body
                        @post.Comments
                        @Html.ActionLink("Edytuj", "Edit", new { id = post.Id }, new { @class = "btn btn-primary pull-right" })
                        @using (Html.BeginForm("Delete", "Posts", FormMethod.Post))
                        {
                            @Html.Hidden("id", post.Id)
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        }
                        @Html.ActionLink("Dodaj Komentarz", "Comment", new { id = post.Id }, new { @class = "btn btn-primary pull-right" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>