﻿@model KrzysztofNowakowskiLab5.Models.Post

@{
    ViewBag.Title = "Dodaj Posta";
}

<h2>Dodaj Posta</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Tytuł")
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Treść")
        @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Dodaj</button>
}