﻿@model KrzysztofNowakowskiLab5.Models.Post

@{
    ViewBag.Title = "Edytuj Post";
}

<h2>Edytuj Post</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Tytuł")
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Treść")
        @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Edytuj</button>
}